.modal-calendar-title,
.modal-calendar-date {
    text-transform: capitalize;
}

.modal-loading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}