.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: $mainInterfaceHeight; // 10vh Navbar
    width: $invitationsInterfaceWidth;
    margin: 20px auto;
    @include xs {
        width: 100%;
    }
    @include sm {
        width: 100%;
    }
    @include md {
        width: 100%;
    }
    h1 {
        color: $bluePurple;
        font-size: $titleFontSize;
        width: 100vw;
        word-break: keep-all;
        text-align: center;
        margin-bottom: 20px;
    }
    .choose-date {
        display: flex;
        flex-direction: column;
        h1 {
            width: 100%;
        }
        @include xs {
            width: 80%;
            margin: 20px 0;
        }
    }
    .user-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .user-input {
            width: 100%;
            margin-bottom: 20px;
        }
        .show-calendar {
            width: 100%;
            margin: 10px 0;
            button {
                width: 100%;
            }
        }
    }
}

.calendar-container {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    min-height: 100vh;
}