@import './responsive';
@import './variables';
@import '../components/AdminInterface/styles';
@import '../components/Calendar/styles';
@import '../components/CreateInvitation/styles';
@import '../components/Invitations/styles';
@import '../components/UserInterface/styles';
@import '../components/Navbar/styles';

body {
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
  }
}

.rbc-calendar {
  margin-top: 20px;
  min-height: calc(90vh - 20px) !important; // ? 20px = margintop, 10vh = Navbar
  height: 100%;
}