.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: $mainInterfaceHeight; // 10vh navbar
  width: $invitationsInterfaceWidth;
  margin: 0 auto;
  text-align: center;
  h1 {
    margin-top: 20px;
    font-size: $titleFontSize;
    color: $bluePurple;
  }
  h2 {
    font-size: 24px;
    color: #1e1e1e;
    font-weight: normal;
  }
  @include xs {
    width: 90%;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 20px;
    }
  }
  @include sm {
    width: 90%;
  }
  @include md {
    width: 100%;
  }
  .backoffice__tabs_container {
    background-color: transparent;
    box-shadow: none;
  }
  .backoffice__tab {
    padding: 8 * 3;
    overflow: hidden;
  }
}

.login {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-input {
    height: 100%;
    width: 100%;
  }
  button {
    width: 100%;
  }
}

.create-invitation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  h1 {
    width: 100vw;
  }
  h6 {
    font-size: 16px;
    font-style: italic;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      width: 100%;
    }
  }
}
