.loading-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-action-buttons {
    display: flex;
    button:last-of-type {
        margin-left: 10px;
    }
}

.submit-button {
    width: 100% !important;
}