.loading-container {
    height: $mainInterfaceHeight;
    display: flex;
    justify-content: center;
    align-items: center;
}


.invitation-content {
    width: 100%;
    display: flex;
    @include xs {
        flex-direction: column;
    }
    div span {
        line-height: unset;
    }
}

.admin-action-buttons {
    display: flex;
    align-self: center;
    button:last-of-type {
        margin-left: 10px;
    }
}

.chose-event {
 margin-top: 20px;   
}

.submit-button {
    width: 100% !important;
}